Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: dbconfig-common, openjdk-7-jdk | default-jdk, postgresql, postgis, postgresql-9.3-postgis-2.1
Maintainer: Nick Vitsas <nickvitsas@imis.athena-innovation.gr>
Homepage: https://github.com/GeoKnow/FAGI-gis
Description: GeoData and Metadata fusion 
Distribution: ldstack-nightly
 A tool for fusing geodata and their metadata