Source: fagi-gis
Section: misc
Priority: optional
Maintainer: Nick Vitsas <nickvitsas@imis.athena-innovation.gr>
Build-Depends: debhelper (>= 8), default-jdk, javahelper (>= 0.40ubuntu1.1) 
Standards-Version: 3.9.2
Homepage: <homepage>
Distribution: ldstack-nightly
Package: fagi-gis
Version: 1.1
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Recommends: ${java:Recommends}
Description: Short Description
 Long Description
