Source: fagi-gis-service
Section: misc
Priority: optional
Maintainer: Nick Vitsas <nickvitsas@imis.athena-innovation.gr>
Build-Depends: debhelper (>= 8), default-jdk, javahelper (>= 0.40ubuntu1.1) 
Standards-Version: 3.9.2
Homepage: https://github.com/GeoKnow/FAGI-gis
Distribution: ldstack-nightly
Package: fagi-gis-service
Version: 1.1+rev239
Architecture: all
Depends: wordnet, fagi-gis, tomcat7, openjdk-7-jdk | default-jdk
Description: GeoData and Metadata fusion 
 A tool for fusing geodata and their metadata
